.for-clients {
  margin: 0 auto;
}

.for-clients__header {
  margin: 0 19%;
  text-align: center;
  margin-top: 16px;
}

.for-clients__link {
  display: flex;
  // margin: 0 auto;
  // padding-left: 30px;
  justify-content: center;
  margin-top: 34px;
}

.for-clients__button-wrap {
  display: flex;
  justify-content: center;
  width: 137px;
  margin: 0 auto;
  margin-top: 5px;
}
