.nav__wrap {
  position: absolute;
  background-image: url("../img/main-back-blur.jpg");
  height: 850px;
  width: 360px;
  background-repeat: no-repeat;
  top: 0;
  z-index: 1000;
}

.nav__phone {
  position: relative;
  font-size: 0;
}

.nav__phone {
  content: "";
  position: absolute;
  top: 32px;
  left: 18px;
  width: 39px;
  height: 39px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.nav__cross-button {
  position: absolute;
  right: 26px;
  top: 38px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.nav__list {
  // display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 106px;
}

// .nav__list:first-child {
//   border-top: 2px dashed #FFFFFF;
// }

.nav__item {
  border-bottom: 2px dashed #FFFFFF;
}

.nav__item:first-child {
  border-top: 2px dashed #FFFFFF;
}

.nav__link {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
  line-height: 342.5%;
  /* or 62px */
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 57px;
}

.nav__wrap--closed {
  display: none;
}

.nav__wrap--opened {
  display: block;
}
