.vg__section {

}

.vg__header {
  margin: 0 8%;
  margin-top: 37px;
  font-weight: bold;
  font-size: 18px;
  line-height: 116.5%;
  /* or 21px */
  text-align: center;
  text-transform: uppercase;
}

.vg__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vg__item {
  margin-bottom: -130px;
}

.vg__wrap {
  background-color: #e5e5e5;
}

.vg__video {
  // background-image: none;
  height: 277px
}

.vg__more-info {
  margin-top: 100px;
}
